@model Matematik_Marketi.Models.Entities.ShoppingList
@{
    Layout = "_Layout";
    ViewData["Title"] = "Alışveriş Listesi";
    ViewData["BodyClass"] = "page-alisveris";
}
<!-- Oyun alanı -->
    <div class="game-container">
        <div class="popup">
            <h2>ALIŞVERİŞ LİSTESİ</h2>
            
            <ul>
                @foreach (var item in Model.Items)
                {
                    <li>@item.Product.Name</li>
                }
            </ul>
            <button class="btn" data-gameid="@Model.GameId">TAMAM</button>
        </div>
    </div>