@{
    Layout = "_Layout";
    ViewData["Title"] = "Alışveriş Listesi";
    ViewData["BodyClass"] = "page-alisveris";
}
<!-- Oyun alanı -->
    <div class="game-container">
        <div class="popup">
            <h2>ALIŞVERİŞ LİSTESİ</h2>
            <ul>
                <li>Havuç</li>
                <li>Süt</li>
                <li>Çilek</li>  
            </ul>
            <button class="btn">TAMAM</button>
        </div>
    </div>