@{
    Layout = "_Layout";
    ViewData["Title"] = "Ana Menü";
    ViewData["BodyClass"] = "page-anamenu";
}

<div class="background"></div>

<div class="welcome-box">
    <p class="baslik">Matematik Marketi’ne Hoş Geldiniz!</p>
    <p class="text">
        Alışveriş listeni tamamlamak için matematik becerilerini kullan!<br>
        Ürünlere tıkla, soruları doğru yanıtla ve sepete ekle.<br>
        Yanlış cevap verirsen 3 hakkından biri eksilir.<br>
        Tüm ürünleri toplarsan oyunu kazanırsın!
    </p>
    <button class="startBtn">BAŞLAT</button>
</div>
